/* main.scss - Contains all styling for myeadc-stl.com */
/****** COLORS ******/
/****** FONTS ******/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=081e16cc-76ce-4f91-a436-abc2e1fc02bc");
@font-face {
  font-family: "Century Gothic WGL W01 Regular";
  src: url("/assets/fonts/2cc446f2-1b3b-4f83-b008-97c8c0f04fac.woff2") format("woff2"), url("/assets/fonts/7febee0b-b288-4850-9a55-85fc97528219.woff") format("woff"); }
@font-face {
  font-family: "Century Gothic WGL W01 Bold";
  src: url("/assets/fonts/e41c2a65-7dc0-4c9d-b660-5d156c3ccb50.woff2") format("woff2"), url("/assets/fonts/2662171d-1b47-4c37-8945-37f9ba19d07d.woff") format("woff"); }
/****** SPACERS ******/
/****** TYPOGRAPHY STYLING ******/
.header-nav-a.nav-link-bold,
h1,
.cta-a,
h2,
.copy-first-p::first-line,
h3,
.ytc-dhss-span,
.accordion .btn-link,
.package-dollar_amount_container-div,
h4,
.benefit-copy-span,
.benefit-copy-button,
.benefit_listing-link-span,
.gallery-category-a,
label,
#submit-tte {
  font-family: "Century Gothic WGL W01 Bold", sans-serif; }

.header-nav-a,
p,
.ytc-package-per_week-span,
.package-ul li,
.contact_info-span,
.contact_info-a,
.footer-link-a,
.mobile-nav-span,
.menu-link-a {
  font-family: "Century Gothic WGL W01 Regular", sans-serif; }

.mobile-nav-span {
  font-size: 0.8rem; }

.package-ul li,
.ytc-package-per_week-span,
.benefit-copy-p,
label,
.contact_info-p,
.contact_info-span,
.contact_info-a,
.footer-link-a,
.menu-link-a {
  font-size: 1rem; }

p,
.cta-a,
.ytc-dhss-span,
.accordion .btn-link
h4,
.benefit_listing-link-span,
.gallery-category-a,
#submit-tte,
.footer-h3,
.contact_info-h4,
.copyright-h4,
.menu-h3 {
  font-size: 1.1rem; }

.header-nav-a,
.benefit-copy-span {
  font-size: 1.3rem; }

.copy-first-p::first-line {
  font-size: 1.6rem; }

h1,
.package-dollar_amount_container-div {
  font-size: 2.1rem; }

h2 {
  font-size: 3.25rem; }

.carousel-cta p,
.content-copy-div p,
.copy-first-p::first-line,
.ytc-dhss-span,
.ytc-package-per_week-span,
.contact_info-span,
.contact_info-a,
.footer-link-a,
.menu-link-a,
.contact_info-p {
  font-weight: 600; }

h2 {
  letter-spacing: -0.6px; }

h1,
.copy-first-p::first-line {
  letter-spacing: -0.2px; }

.ytc-dhss-span {
  letter-spacing: -0.1px; }

.package-ul li,
.ytc-insurance-h4 {
  letter-spacing: 0.2px; }

.carousel-cta p {
  letter-spacing: 0.3px; }

.cta-a,
.gallery-category-a,
#submit-tte {
  letter-spacing: 0.4px; }

.content-copy-div p {
  letter-spacing: 0.6px; }

.header-nav-a,
.cta-a,
.accordion .btn-link,
.accordion .btn-link:hover,
.gallery-category-a,
.mobile-nav-span {
  text-decoration: none; }

.contact_info-a,
.footer-link-a,
.menu-link-a {
  text-decoration: underline; }

.ytc-package-per_week-span {
  line-height: 1; }

.ytc-insurance-h4 {
  line-height: 1.4; }

.content-copy-div p,
.benefit_listing-link-span {
  line-height: 1.6; }

.header-nav-a,
.contact_info-a,
.footer-link-a,
.menu-link-a {
  color: #444ca0; }

h1,
.carousel-cta p,
h2,
.package-ul li {
  color: #4057b3; }

.cta-a,
.gallery-category-a,
#submit-tte {
  color: #ffffff; }

.benefit_listing-visible .benefit_listing-link-span,
.mobile-nav-span {
  color: #fffffb; }

.content-copy-div p,
.ytc-dhss-span,
.accordion button,
.package-dollar_amount_container-div,
h4,
.benefit_listing-link-span,
label,
.contact_info-span {
  color: #020000; }

/****** COLOR STYLING ******/
#header-nav-ul {
  background-color: #fffffb; }

.card-body,
.benefit-copy-button {
  background-color: #f7f7f2; }

#mobile-nav {
  background-color: #203ea6; }

.circle-xxl-filled.circle-light_purple-1 {
  background-color: #ffebff; }

.carousel-cta,
.gallery-nav-a.gallery-a-visible {
  background-color: #dfd2f2; }

.circle-xl-filled.circle-dark_purple-1 {
  background-color: #9fa1d9; }

.gallery-nav-a {
  background-color: #444ca0; }

.cta-a,
.gallery-category-a,
#submit-tte {
  background-color: #4057b3; }

.benefit_listing-visible {
  background-color: #4057b3 !important; }

.accordion > .card > .card-header,
.benefit_listing-button {
  background-color: #f5ffe1; }

.package-dollar_amount_container-div {
  background: radial-gradient(circle, #ffebff 0%, #ffebff 50%, #dfd2f2 100%); }

/****** BORDERS ******/
.header-nav-a {
  border-bottom: none; }

.gallery-nav-a {
  border-radius: 8px 8px 0 8px; }

.cta-a,
.benefit-copy-img,
.gallery-category-a,
#submit-tte,
#sidebar-images-div .sidebar-img {
  border-radius: 10px 10px 0 10px; }

#header-nav-ul {
  border-radius: 10px; }

.carousel-cta,
#ylo-gallery img,
.accordion,
#we-benefits_listing_container-div,
.gallery-photo-div {
  border-radius: 14px 14px 0 14px; }

.accordion > .card:first-of-type,
#we-benefits_listing_container-div > .benefit_listing-button:first-of-type {
  border-radius: 14px 14px 0 0; }

.accordion > .card:last-of-type,
#we-benefits_listing_container-div > .benefit_listing-button:last-of-type {
  border-radius: 0 0 0 14px; }

.circles-large div,
.circles-small div,
#circles-ytc div,
.ytc-testimonial .ytc-testimonial-img,
.accordion-dot-div,
.package-dollar_amount_container-div,
#circles-we div,
.benefit_listing-dot-div {
  border-radius: 100%; }

.card-body {
  border-top: 1px solid; }

#footer-links-copyright {
  border-top: 1px dotted; }

.card,
.benefit_listing-button {
  border: 1px solid; }

.circles-large div,
.circles-small div,
.package-dollar_amount_container-div,
.cta-a,
.gallery-nav-a,
#ylo-gallery img,
.accordion-dot-div,
.benefit_listing-dot-div,
.benefit-copy-img,
.gallery-photo-div,
.gallery-category-a,
.form-input-text,
.form-textarea,
#submit-tte,
#footer-sidebar .sidebar-img {
  border: 3px solid; }

#circles-ytc div {
  border: 61px solid; }

#circles-we .circle-xl-1 {
  border: 97px solid; }

.cta-a,
.gallery-nav-a,
.gallery-category-a,
#submit-tte {
  border-color: #ffffff; }

.form-input-text,
.form-textarea {
  border-color: #d8d8d4; }

#ylo-gallery img,
.benefit-copy-img,
.gallery-photo-div,
#sidebar-images-div .sidebar-img {
  border-color: #a8bbe4; }

.circles-light_brown-div div div {
  border-color: #dae5c7; }

.circles-dark_brown-div div div {
  border-color: #c2c08f; }

.accordion-dot-div,
.benefit_listing-dot-div,
#footer-links-copyright {
  border-color: #899878; }

.card,
.card-body,
.benefit_listing-button {
  border-color: rgba(194, 214, 189, 0.6); }

#circles-we .circle-xl-1 {
  border-color: #ffebff; }

.circles-purple-div div div,
.package-dollar_amount_container-div,
#circles-we .circle-xl-1.circle-dark_purple-1 {
  border-color: #9fa1d9; }

.gallery-nav-a.gallery-a-visible {
  border-color: #444ca0; }

.circle-light_green-1 {
  border-color: #c0d8ba !important; }

.circle-dark_brown-1 {
  border-color: #c2c08f !important; }

/****** SHADOWS ******/
#header-nav-ul,
.carousel-cta,
.cta-a,
.gallery-nav-a,
.gallery-category-a,
.gallery-photo-div,
#submit-tte {
  box-shadow: 0 0 6px #4057b3; }

.ytc-testimonial .ytc-testimonial-img,
#ytc-accordion-div,
#we-benefits_listing_container-div {
  box-shadow: 0 0 6px #899878; }

/******* COMMON ELEMENTS ****** */
:root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  z-index: 0; }

h2 {
  margin-bottom: 47px;
  padding-left: 0 !important; }

h3 {
  margin-bottom: 16px; }

label {
  display: block; }

.form-input-text,
.form-textarea {
  width: 100%;
  padding: 12px; }

.visible-mobile,
#mobile-nav {
  display: none; }

/****** LINK/BUTTON BEHAVIOR ******/
.header-nav-a {
  height: 32px;
  transition-property: border-bottom, font-family, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out; }

.header-nav-a:hover {
  font-family: "Century Gothic WGL W01 Regular", sans-serif;
  color: #444ca0;
  text-decoration: none;
  border-bottom: 3px solid #9fa1d9; }

.header-nav-a:active {
  font-family: "Century Gothic WGL W01 Bold", sans-serif;
  color: #444ca0;
  text-decoration: none;
  border-bottom: 3px solid #444ca0; }

.header-nav-a.nav-link-bold:hover {
  font-family: "Century Gothic WGL W01 Bold", sans-serif;
  color: #444ca0;
  text-decoration: none;
  border-bottom: none; }

.cta-a,
.gallery-category-a,
#submit-tte {
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }

.cta-a:hover,
.gallery-category-a:hover,
#submit-tte:hover {
  color: #444ca0;
  background-color: #ffffff;
  border-color: #444ca0;
  text-decoration: none; }

.contact_info-a,
.footer-link-a {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }

.contact_info-a:hover,
.footer-link-a:hover {
  color: #002599; }

/****** BACKGROUNDS ******/
.content-background-div {
  width: 100%; }

#background-ylo {
  height: 935px;
  background-color: #eaffff;
  z-index: 130; }

#background-ytc {
  height: 935px;
  background-color: #dae5c7; }

#background-we {
  height: 935px;
  background-color: #dfd2f2;
  z-index: 330; }

#background-tte {
  height: 935px;
  background-color: #fffffb;
  z-index: 150; }

#background-footer {
  height: 100vh;
  background-color: #cdd8ba;
  z-index: 150; }

.background-shield-div {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10; }
  .background-shield-div img {
    width: 100%;
    height: 100%; }

.background-circles-div,
.circles-light_brown-div,
.circles-dark_brown-div,
.circles-purple,
.circles-large,
.circles-small,
#circles-ytc,
#circles-we,
#circles-footer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden; }

.background-circles-div {
  z-index: 110; }
  .background-circles-div .circles-large div {
    width: 76px;
    height: 76px; }
  .background-circles-div .circles-small div {
    width: 26px;
    height: 26px; }

.circles-light_brown-div {
  z-index: 140; }
  .circles-light_brown-div .circles-dark_brown-large-div {
    z-index: 140; }
  .circles-light_brown-div .circles-dark_brown-small-div {
    z-index: 150; }

.circles-purple-div {
  z-index: 120; }
  .circles-purple-div .circles-purple-small-div {
    z-index: 120; }
  .circles-purple-div .circles-purple-large-div {
    z-index: 130; }

.circles-dark_brown-div {
  z-index: 100; }
  .circles-dark_brown-div .circles-dark_brown-large-div {
    z-index: 100; }
  .circles-dark_brown-div .circles-dark_brown-small-div {
    z-index: 110; }

.circles-light_brown-div div div,
.circles-purple-div div div,
.circles-dark_brown-div div div {
  position: relative; }

#circles-ylo .circles-light_brown-div .circles-large div:nth-child(1),
#circles-tte .circles-light_brown-div .circles-large div:nth-child(1),
#circles-footer .circles-light_brown-div .circles-large div:nth-child(1) {
  top: 5%;
  left: 8%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(2),
#circles-tte .circles-light_brown-div .circles-large div:nth-child(2),
#circles-footer .circles-light_brown-div .circles-large div:nth-child(2) {
  top: 12%;
  left: 55%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(3),
#circles-tte .circles-light_brown-div .circles-large div:nth-child(3),
#circles-footer .circles-light_brown-div .circles-large div:nth-child(3) {
  top: 43%;
  left: 73%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(3),
#circles-tte .circles-light_brown-div .circles-large div:nth-child(3),
#circles-footer .circles-light_brown-div .circles-large div:nth-child(3) {
  top: 67%;
  left: 73%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(4),
#circles-tte .circles-light_brown-div .circles-large div:nth-child(4),
#circles-footer .circles-light_brown-div .circles-large div:nth-child(4) {
  top: 48%;
  left: 85%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(1),
#circles-tte .circles-light_brown-div .circles-small div:nth-child(1),
#circles-footer .circles-light_brown-div .circles-small div:nth-child(1) {
  top: 74%;
  left: 36%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(2),
#circles-tte .circles-light_brown-div .circles-small div:nth-child(2),
#circles-footer .circles-light_brown-div .circles-small div:nth-child(2) {
  top: 6%;
  left: 73%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(3),
#circles-tte .circles-light_brown-div .circles-small div:nth-child(3),
#circles-footer .circles-light_brown-div .circles-small div:nth-child(3) {
  top: 66%;
  left: 36%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(4),
#circles-tte .circles-light_brown-div .circles-small div:nth-child(4),
#circles-footer .circles-light_brown-div .circles-small div:nth-child(4) {
  top: 14%;
  left: 69%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(5),
#circles-tte .circles-light_brown-div .circles-small div:nth-child(5),
#circles-footer .circles-light_brown-div .circles-small div:nth-child(5) {
  top: 13%;
  left: 32%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(6),
#circles-tte .circles-light_brown-div .circles-small div:nth-child(6),
#circles-footer .circles-light_brown-div .circles-small div:nth-child(6) {
  top: 8%;
  left: 85%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(1),
#circles-tte .circles-purple-div .circles-large div:nth-child(1),
#circles-footer .circles-purple-div .circles-large div:nth-child(1) {
  top: 25%;
  left: 42%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(2),
#circles-tte .circles-purple-div .circles-large div:nth-child(2),
#circles-footer .circles-purple-div .circles-large div:nth-child(2) {
  top: 65%;
  left: 15%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(3),
#circles-tte .circles-purple-div .circles-large div:nth-child(3),
#circles-footer .circles-purple-div .circles-large div:nth-child(3) {
  top: 0;
  left: 91%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(4),
#circles-tte .circles-purple-div .circles-large div:nth-child(4),
#circles-footer .circles-purple-div .circles-large div:nth-child(4) {
  top: 14%;
  left: 53%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(1),
#circles-tte .circles-purple-div .circles-small div:nth-child(1),
#circles-footer .circles-purple-div .circles-small div:nth-child(1) {
  top: 7%;
  left: 18%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(2),
#circles-tte .circles-purple-div .circles-small div:nth-child(2),
#circles-footer .circles-purple-div .circles-small div:nth-child(2) {
  top: 48%;
  left: 95%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(3),
#circles-tte .circles-purple-div .circles-small div:nth-child(3),
#circles-footer .circles-purple-div .circles-small div:nth-child(3) {
  top: 7%;
  left: 65%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(4),
#circles-tte .circles-purple-div .circles-small div:nth-child(4),
#circles-footer .circles-purple-div .circles-small div:nth-child(4) {
  top: 21%;
  left: 8%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(1),
#circles-tte .circles-dark_brown-div .circles-small div:nth-child(1),
#circles-footer .circles-dark_brown-div .circles-small div:nth-child(1) {
  top: 38%;
  left: 91%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(2),
#circles-tte .circles-dark_brown-div .circles-small div:nth-child(2),
#circles-footer .circles-dark_brown-div .circles-small div:nth-child(2) {
  top: 70%;
  left: 66%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(3),
#circles-tte .circles-dark_brown-div .circles-small div:nth-child(3),
#circles-footer .circles-dark_brown-div .circles-small div:nth-child(3) {
  top: 47%;
  left: 12%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(4),
#circles-tte .circles-dark_brown-div .circles-small div:nth-child(4),
#circles-footer .circles-dark_brown-div .circles-small div:nth-child(4) {
  top: 2%;
  left: 52%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(5),
#circles-tte .circles-dark_brown-div .circles-small div:nth-child(5),
#circles-footer .circles-dark_brown-div .circles-small div:nth-child(5) {
  top: 33%;
  left: 94%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(6),
#circles-tte .circles-dark_brown-div .circles-small div:nth-child(6),
#circles-footer .circles-dark_brown-div .circles-small div:nth-child(6) {
  top: 15%;
  left: 4%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(1),
#circles-tte .circles-dark_brown-div .circles-large div:nth-child(1),
#circles-footer .circles-dark_brown-div .circles-large div:nth-child(1) {
  top: 55%;
  left: 31%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(2),
#circles-tte .circles-dark_brown-div .circles-large div:nth-child(2),
#circles-footer .circles-dark_brown-div .circles-large div:nth-child(2) {
  top: 0%;
  left: 38%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(3),
#circles-tte .circles-dark_brown-div .circles-large div:nth-child(3),
#circles-footer .circles-dark_brown-div .circles-large div:nth-child(3) {
  top: 66%;
  left: 69%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(4),
#circles-tte .circles-dark_brown-div .circles-large div:nth-child(4),
#circles-footer .circles-dark_brown-div .circles-large div:nth-child(4) {
  top: 36%;
  left: 6%; }

#circles-tte .circles-purple-div .circles-large div:nth-child(1) {
  top: 43%;
  left: 42%; }
#circles-tte .circles-purple-div .circles-large div:nth-child(5) {
  top: 22%;
  left: 85%; }
#circles-tte .circles-dark_brown-div .circles-small div:nth-child(3) {
  top: 47%;
  left: 5%; }
#circles-tte .circles-dark_brown-div .circles-large div:nth-child(1) {
  top: 58%;
  left: 55%; }
#circles-tte .circles-dark_brown-div .circles-large div:nth-child(4) {
  top: 60%; }

#circles-ytc div {
  position: absolute; }
#circles-ytc .circle-xl {
  width: 472px;
  height: 472px; }
#circles-ytc .circle-xxl {
  width: 800px;
  height: 800px; }
#circles-ytc #ytc-circle-upper-left {
  top: -8%;
  left: 8%; }
#circles-ytc #ytc-circle-lower-left {
  top: 22%;
  left: -2%; }
#circles-ytc #ytc-circle-upper-right {
  top: -24%;
  right: -12%; }

#circles-we {
  z-index: 330; }
  #circles-we div {
    position: absolute; }
  #circles-we .circle-xl-filled {
    width: 658px;
    height: 658px; }
  #circles-we .circle-xl-1 {
    width: 929px;
    height: 929px; }
  #circles-we .circle-xxl-filled {
    width: 1326px;
    height: 1326px; }
  #circles-we #we-circle-upper-left-1 {
    top: -369px;
    left: -369px;
    z-index: 330; }
  #circles-we #we-circle-upper-left-2 {
    top: -462px;
    left: -462px;
    z-index: 320; }
  #circles-we #we-circle-lower-right-1 {
    bottom: -605px;
    right: -605px;
    z-index: 310; }
  #circles-we #we-circle-lower-right-2 {
    bottom: -853px;
    right: -853px;
    z-index: 300; }

#circles-footer .circles-purple-div .circles-large div:nth-child(2) {
  top: 65%;
  left: 30%; }
#circles-footer .circles-dark_brown-div .circles-small div:nth-child(3) {
  top: 47%;
  left: 26%; }
#circles-footer .circles-dark_brown-div .circles-large div:nth-child(4) {
  top: 36%;
  left: 3%; }

/****** MAIN NAVIGATION ******/
#desktop-header-nav {
  position: absolute;
  top: 47px;
  right: 76px;
  z-index: 2; }
  #desktop-header-nav #header-nav-ul {
    width: 1005px;
    padding: 9px 16px;
    display: flex;
    float: right;
    list-style-type: none; }
    #desktop-header-nav #header-nav-ul li {
      display: inline-flex;
      flex: auto; }
    #desktop-header-nav #header-nav-ul li:last-of-type {
      width: 51px; }
    #desktop-header-nav #header-nav-ul .header-nav-a {
      display: inline-flex; }

.section_page-header-nav {
  width: 100%;
  display: flex;
  right: auto !important;
  justify-content: space-between; }
  .section_page-header-nav #header-nav-link-logo {
    display: block;
    position: relative;
    left: 76px; }
  .section_page-header-nav #header-nav-logo {
    width: 183px;
    height: auto; }
  .section_page-header-nav #header-nav-ul {
    height: 50px;
    float: none !important;
    position: relative;
    top: 20px;
    right: 76px; }

/****** CAROUSEL ******/
.carousel img {
  width: 100%;
  height: auto; }

.carousel-cta {
  padding: 16px 26px 26px 26px;
  position: absolute;
  left: 139px;
  bottom: 139px;
  z-index: 2; }
  .carousel-cta h1 {
    margin-bottom: 0; }
  .carousel-cta p {
    margin: 9px 0 16px 0; }

#cta-homepage {
  width: 409px; }

#cta-logo {
  width: 225px;
  height: auto;
  position: absolute;
  left: 165px;
  bottom: 440px; }

.cta-a {
  width: 285px;
  padding: 7px 9px;
  display: block; }

/****** CONTENT ******/
.container {
  z-index: 7; }

.homepage-content-section {
  width: 100%;
  height: 935px;
  position: relative; }

#content-ylo {
  z-index: 600; }

#content-ytc {
  z-index: 500; }

#content-we {
  overflow: hidden;
  z-index: 300; }

.content-copy-div {
  padding-top: 139px;
  padding-left: 152px;
  position: absolute;
  z-index: 8; }

.column-left-div,
.column-middle-div,
.column-right-div,
.column-spacer-div {
  display: inline-flex;
  vertical-align: top; }

#content-container-ylo {
  z-index: 150; }
  #content-container-ylo .column-left-div {
    padding-left: 0;
    padding-right: 47px; }
  #content-container-ylo .column-right-div {
    padding-left: 0;
    padding-right: 0; }

#content-container-ytc .column-left-div,
#content-container-ytc .column-middle-div,
#content-container-ytc .column-right-div {
  flex-direction: column; }
#content-container-ytc .column-left-div {
  padding-left: 0;
  padding-right: 9px; }
#content-container-ytc .column-middle-div {
  padding-left: 16px;
  padding-right: 16px; }
#content-container-ytc .column-right-div {
  padding-left: 9px;
  padding-right: 0; }

#content-container-we {
  z-index: 340; }
  #content-container-we .column-left-div,
  #content-container-we .column-right-div {
    flex-direction: column; }
  #content-container-we .column-left-div {
    padding-left: 0;
    padding-right: 0; }
  #content-container-we .column-right-div {
    padding-left: 47px;
    padding-right: 0; }

#content-container-tte {
  z-index: 150; }
  #content-container-tte .column-left-div,
  #content-container-tte .column-right-div {
    flex-direction: column; }
  #content-container-tte .column-left-div {
    padding-left: 0;
    padding-right: 0; }
  #content-container-tte .column-right-div {
    padding-left: 47px;
    padding-right: 0; }
    #content-container-tte .column-right-div .col-5 {
      padding-left: 0;
      padding-right: 36px; }
    #content-container-tte .column-right-div .col-7 {
      padding-left: 0;
      padding-right: 0; }

#content-container-footer {
  z-index: 150; }
  #content-container-footer .column-left-div,
  #content-container-footer .column-middle-div,
  #content-container-footer .column-right-div {
    flex-direction: column; }

/* ------ YOUR LOVED ONE ------ */
#content-container-ylo h2 {
  margin-bottom: 37px; }

#ylo-gallery {
  margin-top: 9px;
  position: relative; }
  #ylo-gallery img {
    width: 100%; }

#ylo-copy {
  flex-direction: column; }

.gallery-nav-div {
  display: flex;
  position: absolute;
  opacity: 0.95; }
  .gallery-nav-div .gallery-nav-a {
    width: 26px;
    height: 26px;
    margin-right: 16px; }

#ylo-gallery-nav {
  bottom: 26px;
  left: 26px; }

/* ------ YOU - THE CARETAKER ------ */
.ytc-testimonial {
  margin-bottom: 26px;
  display: flex; }
  .ytc-testimonial .ytc-testimonial-img {
    width: 181px;
    height: 181px; }
  .ytc-testimonial .ytc-testimonial-p {
    margin: 19px 0 0 16px; }

.ytc-testimonial:last-of-type {
  margin-bottom: 0; }

.ytc-dhss-span {
  display: block;
  margin-bottom: 16px; }

.ytc-dhss-img {
  width: 190px;
  height: auto; }

.accordion button,
.benefit_listing-button {
  padding: 7px 0 5px 0;
  display: flex; }

.accordion-dot-div,
.benefit_listing-dot-div {
  width: 10px;
  height: 10px;
  margin: 9px 9px 0 0; }

.card-body {
  display: flex; }

.ytc-package-per_week-span {
  display: block; }

.package-dollar_amount_container-div {
  width: 148px;
  height: 136px;
  padding: 26px; }

.package-ul li {
  list-style-image: url("/assets/img/common/icons/ytc-dot.png"); }

.ytc-insurance-h4,
.ytc-insurance-div {
  display: inline-flex; }

.ytc-insurance-h4 {
  margin-top: 54px;
  padding-left: 0;
  padding-right: 0;
  vertical-align: top; }

.ytc-insurance-div {
  margin-top: 36px;
  padding-left: 16px;
  padding-right: 0; }

#ytc-insurance-mohealthnet {
  margin-right: 36px; }

/* ------ WHY EADC IS GOOD FOR YOUR SENIOR ------ */
#we-benefits-copy-div .benefit-copy-div {
  display: none; }
#we-benefits-copy-div .benefit-copy-visible {
  display: block; }
#we-benefits-copy-div .benefit-copy-img {
  margin: 9px 16px 0 0;
  display: block;
  float: left; }
#we-benefits-copy-div .benefit-copy-span {
  display: block; }

#we-benefits_listing_container-div {
  margin-top: 16px; }
  #we-benefits_listing_container-div .benefit_listing-button {
    width: 100%;
    padding: 16px 0 16px 20px;
    display: flex; }

#we-gallery #we-gallery-nav {
  bottom: 94px;
  left: 76px; }
#we-gallery .gallery-photo-div {
  width: 100%; }
#we-gallery #we-gallery-categories {
  margin: 19px 0 0 29px; }
#we-gallery .gallery-category-a {
  padding: 7px 9px;
  display: inline-flex; }

/* ------ TALK TO EADC ------ */
#tte-form-div form {
  display: flex;
  margin-top: 9px; }
#tte-form-div .form-field-div {
  margin-bottom: 26px; }
#tte-form-div #input-type-textarea {
  height: 279px; }
#tte-form-div #submit-tte {
  margin-top: 16px;
  padding: 7px 9px; }

/****** FOOTER ******/
#footer-logo {
  width: 225px;
  height: auto;
  margin-bottom: 26px;
  display: block; }

.footer-h3,
.contact_info-div {
  margin-bottom: 26px; }
  .footer-h3 .contact_info-p,
  .contact_info-div .contact_info-p {
    margin-bottom: 0; }

#footer-links-container {
  margin-top: 250px; }
  #footer-links-container .footer-link-a {
    display: block;
    margin-bottom: 26px; }
  #footer-links-container .footer-link-a:last-of-type {
    margin-bottom: 63px; }

#footer-links-copyright {
  padding-top: 26px; }
  #footer-links-copyright #footer-link-wc {
    margin-bottom: 10px; }
  #footer-links-copyright .copyright-h4 {
    margin-bottom: 0; }

#footer-sidebar {
  margin-top: 268px; }
  #footer-sidebar .sidebar-img {
    display: block;
    float: right; }
  #footer-sidebar .sidebar-img:first-of-type {
    margin-bottom: 54px; }

/******* BREAKPOINTS ******/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }

  .col-lg-12 {
    padding-left: 165px;
    padding-right: 76px; } }
/* ------ MOBILE PHONES (< 414x???) ------- */
@media screen and (max-width: 414px) {
  /******* COMMON ELEMENTS *******/
  .visible-desktop {
    display: none; }

  .visible-mobile,
  #mobile-nav {
    display: block; }

  :root {
    width: 100%;
    overflow-x: hidden; }

  h2 {
    margin-bottom: 26px; }

  .column-left-div {
    margin-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .column-middle-div,
  .column-right-div {
    margin-top: 26px !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .content-copy-div p:last-of-type {
    margin-bottom: 0; }

  /****** TYPOGRAPHY STYLING ******/
  .contact_info-h4,
  .contact_info-p,
  .contact_info-a,
  .menu-link-a {
    font-size: 0.9rem; }

  .carousel-cta p,
  .cta-a,
  p,
  .menu-h3,
  #footer-links-copyright .copyright-h4 {
    font-size: 1rem; }

  .copy-first-p::first-line {
    font-size: 1.3rem; }

  h1,
  h2 {
    font-size: 1.6rem; }

  h3 {
    font-size: 1.3rem; }

  h4 {
    font-size: 1.1rem; }

  .benefit-copy-span {
    line-height: 1.3; }

  /****** COLOR STYLING ******/
  #background-menu {
    background-color: #fffffb; }

  /******* BORDERS ******/
  .carousel-cta {
    border-radius: 14px 14px 0 0; }

  #footer-links {
    border-top: 1px dotted #899878; }

  #menu-links-container #contact_info-email_address {
    border-bottom: 1px dotted #899878; }

  /****** SHADOWS ******/
  #mobile-nav {
    box-shadow: 0 0 6px #4057b3; }

  /****** BACKGROUNDS ******/
  /* .content-background-div {
    width: 100%;
    overflow-x: hidden;
  } */
  #circles-ylo,
  #circles-tte,
  .background-circles-div .circles-small {
    display: none; }

  #background-menu {
    z-index: 1000; }

  #circles-menu {
    z-index: 1100; }
    #circles-menu .circles-light_brown-div .circles-large div:nth-child(1) {
      top: 4%;
      left: 66%; }
    #circles-menu .circles-dark_brown-div {
      z-index: 1000; }
      #circles-menu .circles-dark_brown-div .circles-large div:nth-child(1) {
        top: 9%;
        left: 71%; }

  #circles-ylo .circles-light_brown-div .circles-large div:nth-child(1) {
    display: none; }
  #circles-ylo .circles-light_brown-div .circles-large div:nth-child(3) {
    top: 80%;
    left: 73%; }
  #circles-ylo .circles-light_brown-div .circles-small div:nth-child(3) {
    display: none; }
  #circles-ylo .circles-light_brown-div .circles-small div:nth-child(1) {
    top: 97%; }
  #circles-ylo .circles-purple-div .circles-small div:nth-child(1),
  #circles-ylo .circles-purple-div .circles-small div:nth-child(3),
  #circles-ylo .circles-purple-div .circles-small div:nth-child(5) {
    display: none; }
  #circles-ylo .circles-purple-div .circles-large div:nth-child(2),
  #circles-ylo .circles-purple-div .circles-large div:nth-child(4),
  #circles-ylo .circles-purple-div .circles-large div:nth-child(5) {
    display: none; }
  #circles-ylo .circles-purple-div .circles-large div:nth-child(2) {
    top: 83%;
    left: 34%; }
  #circles-ylo .circles-dark_brown-div .circles-small div:nth-child(2) {
    top: 75%;
    left: 89%; }
  #circles-ylo .circles-dark_brown-div .circles-small div:nth-child(3) {
    top: 44%;
    left: 82%; }
  #circles-ylo .circles-dark_brown-div .circles-large div:nth-child(1),
  #circles-ylo .circles-dark_brown-div .circles-large div:nth-child(3),
  #circles-ylo .circles-dark_brown-div .circles-large div:nth-child(4) {
    display: none; }
  #circles-ylo .circles-dark_brown-div .circles-large div:nth-child(2) {
    top: 9%; }

  #circles-footer .circles-light_brown-div .circles-large div:nth-child(1) {
    left: 77%; }
  #circles-footer .circles-light_brown-div .circles-large div:nth-child(2) {
    top: 45%;
    left: 64%; }
  #circles-footer .circles-light_brown-div .circles-large div:nth-child(3) {
    top: 113%;
    left: 73%; }
  #circles-footer .circles-light_brown-div .circles-large div:nth-child(4),
  #circles-footer .circles-light_brown-div .circles-large div:nth-child(5) {
    display: none; }
  #circles-footer .circles-purple-div .circles-large div:nth-child(1) {
    top: 144%;
    left: 69%; }
  #circles-footer .circles-purple-div .circles-large div:nth-child(2),
  #circles-footer .circles-purple-div .circles-large div:nth-child(3),
  #circles-footer .circles-purple-div .circles-large div:nth-child(4) {
    display: none; }
  #circles-footer .circles-dark_brown-div .circles-large div:nth-child(1) {
    top: 49%;
    left: 73%; }
  #circles-footer .circles-dark_brown-div .circles-large div:nth-child(3) {
    top: 102%;
    left: 73%; }
  #circles-footer .circles-dark_brown-div .circles-large div:nth-child(2),
  #circles-footer .circles-dark_brown-div .circles-large div:nth-child(4) {
    display: none; }

  /* ****** MAIN NAVIGATION ****** */
  #mobile-nav {
    width: 100%;
    height: 94px;
    position: fixed;
    top: calc(100% - 94px);
    z-index: 800; }

  #mobile-nav-ul {
    padding: 12px 26px;
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
    #mobile-nav-ul li {
      text-align: center; }
    #mobile-nav-ul #mobile-nav-li-icon {
      width: 40px; }
    #mobile-nav-ul #mobile-nav-li-tte {
      width: 42px; }
    #mobile-nav-ul .mobile-nav-img {
      height: auto; }
    #mobile-nav-ul #mobile-nav-icon-img {
      width: 36px;
      margin-left: 2px; }
    #mobile-nav-ul #mobile-nav-tte-img {
      width: 42px; }
    #mobile-nav-ul #mobile-nav-span-tte {
      margin-top: 10px;
      display: block;
      line-height: 1.2; }

  #mobile-nav-icon-img {
    margin-left: 7px; }

  #content-container-menu,
  #background-menu {
    height: calc(100vh - 94px); }

  #content-container-menu {
    display: none;
    position: static;
    z-index: 1000; }

  #menu-contact_eadc-div {
    width: 100%;
    padding: 36px 26px 26px 26px;
    z-index: 1200; }

  #menu-contact_eadc-div,
  #background-menu {
    position: absolute; }

  #mobile-nav-logo {
    width: 165px;
    height: auto;
    display: block; }

  #mobile-nav-logo,
  .menu-h3,
  #content-container-menu .contact_info-div {
    margin-bottom: 16px; }

  .contact_info-h4 {
    margin-bottom: 7px; }

  #menu-links-container #contact_info-email_address {
    margin-bottom: 0;
    padding-bottom: 16px; }

  #menu-links {
    margin-top: 12px;
    display: inline-flex;
    flex-direction: column;
    vertical-align: bottom; }

  .menu-link-a {
    display: block;
    margin-bottom: 16px; }

  .menu-link-a:last-of-type {
    margin-bottom: 0; }

  #menu-social_media {
    width: 50px;
    height: 116px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    vertical-align: bottom; }
    #menu-social_media .menu-social_media-a {
      display: block; }

  #menu-social_media-facebook {
    margin-bottom: 16px; }

  /****** CAROUSEL ******/
  .carousel {
    height: calc(100vh - 94px); }

  .carousel-inner,
  .carousel-item,
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    height: 100%; }

  .carousel-cta {
    width: 100% !important;
    left: 0;
    bottom: 0; }
    .carousel-cta #mobile-cta-logo {
      width: 190px;
      margin-bottom: 7px; }
    .carousel-cta .cta-a {
      width: 100%; }

  /****** COPY ******/
  .container {
    padding-left: 0;
    padding-right: 0; }

  .content-copy-div {
    padding-top: 36px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 26px; }

  /* ------ HOMEPAGE ------ */
  .ytc-testimonial .ytc-testimonial-img {
    width: 139px;
    height: 139px; }
  .ytc-testimonial .ytc-testimonial-p {
    margin: 0 0 0 16px; }

  .ytc-dhss-span {
    margin-top: 16px; }

  .ytc-insurance-h4 {
    margin-top: 16px; }

  .ytc-insurance-div {
    margin-top: 16px;
    padding-left: 0; }

  #we-benefits_listing_container-div {
    margin-top: 0; }

  #we-gallery #we-gallery-nav {
    bottom: 90px;
    left: 26px; }

  #tte-form-div form {
    display: flex;
    flex-direction: column; }
  #tte-form-div .form-column-left,
  #tte-form-div .form-column-right {
    padding-left: 0;
    padding-right: 0; }

  /****** FOOTER ******/
  #footer-links-container {
    margin-top: 0; }
    #footer-links-container .footer-link-a:last-of-type {
      margin-bottom: 26px; }
    #footer-links-container #footer-links {
      padding-top: 20px; }

  .contact_info-div:last-of-type {
    margin-bottom: 0; }

  #footer-links-copyright {
    padding-top: 20px; }
    #footer-links-copyright #footer-link-wc {
      margin-bottom: 16px; }

  #footer-sidebar {
    display: none; } }
/* ------ APPLE PHONES (414x???) ------ */
@media screen and (min-width: 375px) and (max-width: 414px) {
  /****** MAIN NAVIGATION ******/
  #mobile-nav-ul {
    width: 375px; }

  /****** BACKGROUNDS ******/
  #content-ylo,
  #background-ylo {
    height: 903px; }

  #background-ytc,
  #content-ytc {
    height: 1564px; }

  #circles-ytc #ytc-circle-upper-left {
    top: -18%; }
  #circles-ytc #ytc-circle-lower-left {
    top: 4%;
    left: -2%; }
  #circles-ytc #ytc-circle-upper-right {
    top: 42%; }

  #background-we,
  #content-we {
    height: 928px; }

  #content-tte,
  #background-tte {
    height: 1283px; }

  footer,
  #background-footer {
    height: 1219px; }

  /****** MAIN NAVIGATION ******/
  #menu-links {
    width: 83%; } }
/* ------ IPHONE 6/7/8 (375x667) ------ */
@media screen and (width: 375px) and (height: 667px) {
  /****** CAROUSEL ******/
  /* .carousel {
    height: 667px;
  } */ }
/* ------ IPHONE X (375x812) ------ */
@media screen and (width: 375px) and (height: 812px) {
  /****** CAROUSEL ******/
  /* .carousel {
    height: 718px;
  } */ }
/****** ELEMENT INDEX ******/
/* 
  ----- HEADER ------ 
    |
    - NAV
      #header-nav-ul 
      - Serves as container and background for the header navigation links
      |
        .header-nav-a
        - Links within the header navigation

        .nav-link-bold
        - Link that matches the current webpage

  ---- CONTENT ----
    |
    - CAROUSEL
      .carousel
        - Contains all content of the hero section.
      |
        .carousel-item.active
        - Contains logo and all CTA-related content
        |
          #cta-logo
          - The image (logo) that appears above the CTA

          .carousel-cta
          - Holds the page header, text, and button for the CTA.
            Also serves as the background for the CTA.
          |
            h1 
            - The page title and main header

            p 
            - The text describing the CTA

            .cta-a
            - The link intended to route the visitor to the Talk to EADC page.

          img 
          - The background photo of the hero section
*/

/*# sourceMappingURL=main.css.map */
