/* main.scss - Contains all styling for myeadc-stl.com */



/****** COLORS ******/

$white_1: #ffffff;
$white_2: #fffffb;

$light_gray_1: #d8d8d4;
            
$light_blue_1: #e3ffff;
$light_blue_2: #bedce8;
$light_blue_3: #a8bbe4;

$dark_blue_1: #a5c4d8;
$dark_blue_2: #80a1c1;
$dark_blue_3: #8cadc9;
$dark_blue_4: #405371;

$light_brown_1: #ffffe6;
$light_brown_2: #ffffb0;
$light_brown_3: #fff7cd;
$light_brown_4: #e9d9b0;
$light_brown_5: #dae5c7;
$light_brown_6: #cdd8ba;

$dark_brown_1: #ccc073;
$dark_brown_2: #c3bb93;
$dark_brown_4: #b6a865;
$dark_brown_3: #c2c08f;

$light_green_1: #eaffff;

$dark_green_1: #dae5c7;
$dark_green_2: #c0d8ba;

$light_purple_1: #ffebff;
$light_purple_2: #dfd2f2;
$light_purple_3: #9fa1d9;

$dark_purple_1: #444ca0;
$dark_purple_2: #4057b3;

$black_1: #180100;
$black_2: #020000;



/****** FONTS ******/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=081e16cc-76ce-4f91-a436-abc2e1fc02bc");

@font-face{
  font-family: "Century Gothic WGL W01 Regular";
  src: url("/assets/fonts/2cc446f2-1b3b-4f83-b008-97c8c0f04fac.woff2") format("woff2"),url("/assets/fonts/7febee0b-b288-4850-9a55-85fc97528219.woff") format("woff");
}

@font-face{
  font-family: "Century Gothic WGL W01 Bold";
  src: url("/assets/fonts/e41c2a65-7dc0-4c9d-b660-5d156c3ccb50.woff2") format("woff2"),url("/assets/fonts/2662171d-1b47-4c37-8945-37f9ba19d07d.woff") format("woff");
}

$century_gothic_regular: "Century Gothic WGL W01 Regular", sans-serif;
$century_gothic_bold: "Century Gothic WGL W01 Bold", sans-serif;



/****** SPACERS ******/

$spacer_sm_1: 7px;
$spacer_sm_2: 10px;
$spacer_sm_3: 16px;

$spacer_med_1: 26px;
$spacer_med_2: 47px;

$spacer_lg_1: 76px;
$spacer_lg_2: 139px;
$spacer_lg_3: 165px;



/****** TYPOGRAPHY STYLING ******/  

$font_sm_size_1: 1.1rem; // 13pt

$font_med_size_1: 1.3rem; // 16pt
$font_med_size_2: 1.6rem; // 20pt

$font_lg_size_1: 2.1rem; // 26pt
$font_lg_size_2: 3.25rem; // 39pt


.header-nav-a.nav-link-bold, 
h1, 
.cta-a, 
h2, 
.copy-first-p::first-line {
  font-family: $century_gothic_bold;
}

.header-nav-a, 
p {
  font-family: $century_gothic_regular;
}

p, 
.cta-a {
  font-size: $font_sm_size_1;
}

.header-nav-a {
  font-size: $font_med_size_1;
}

.copy-first-p::first-line {
  font-size: $font_med_size_2;
}

h1 {
  font-size: $font_lg_size_1;
}

h2 {
  font-size: $font_lg_size_2;
}

.carousel-cta p, 
.content-copy-div p, 
.copy-first-p::first-line {
  font-weight: 600;
}

h2 {
  letter-spacing: -0.6px;
}

h1, 
.copy-first-p::first-line {
  letter-spacing: -0.2px;
}

.carousel-cta p {
  letter-spacing: 0.3px;
}

.cta-a {
  letter-spacing: 0.4px;
}

.content-copy-div p {
  letter-spacing: 0.6px;
}

.header-nav-a, 
.cta-a {
  text-decoration: none;
}

.content-copy-div p {
  line-height: 1.6;
}

.header-nav-a {
  color: $dark_purple_1;
}

h1, 
.carousel-cta p, 
h2 {
  color: $dark_purple_2;
}

.cta-a {
  color: $white_1;
}

.content-copy-div p {
  color: $black_2;
}


/****** COLOR STYLING ******/

#header-nav-ul {
  background-color: $white_2;
}

.carousel-cta {
  background-color: $light_purple_2;
}

.cta-a {
  background-color: $dark_purple_2;
}

.gallery-nav-a {
  background-color: $dark_purple_1;
}

.gallery-nav-a.gallery-a-visible {
  background-color: $light_purple_2;
}


/****** BORDERS ******/

$border_radius_sm_1: 8px;
$border_radius_sm_2: 10px;
$border_radius_med_1: 14px;

.header-nav-a {
  border-bottom: none;
}

.cta-a {
  border: 3px solid $white_1;
}

#ylo-gallery {
  img {
    border: 3px solid $light_blue_3;
  }
}

.gallery-nav-a {
  border: 3px solid $white_1;
}

.gallery-nav-a {
  border-radius: $border_radius_sm_1 $border_radius_sm_1 0 $border_radius_sm_1;
}

.cta-a {
  border-radius: $border_radius_sm_2 $border_radius_sm_2 0 $border_radius_sm_2;
}

#header-nav-ul {
  border-radius: $border_radius_sm_2;
}

.carousel-cta, 
#ylo-gallery img {
  border-radius: $border_radius_med_1 $border_radius_med_1 0 $border_radius_med_1;
}

.circles-large div,
.circles-small div {
  border-radius: 100%;
}

.circles-large div, 
.circles-small div {
  border: 3px solid;
}

.circles-light_brown-div div div {
  border-color: $light_brown_5;
}

.circles-dark_brown-div div div {
  border-color: $dark_brown_3;
}

.circles-purple-div div div {
  border-color: $light_purple_3;
}

.gallery-nav-a.gallery-a-visible {
  border-color: $dark_purple_1;
}



/****** SHADOWS ******/

#header-nav-ul, 
.carousel-cta, 
.cta-a, 
.gallery-nav-a {
  box-shadow: 0 0 6px $dark_purple_2;
}



/******* COMMON ELEMENTS ****** */

:root {
  margin: 0;
  padding: 0;
  z-index: 0;
}

h2 {
  margin-bottom: $spacer_med_2;
  padding-left: 0 !important;
}

#content-container-ylo h2 {
  margin-bottom: 37px;
}


/****** LINK/BUTTON BEHAVIOR ******/

.header-nav-a {
  height: 32px;
  transition-property: border-bottom, font-family, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.header-nav-a:hover {
  font-family: $century_gothic_regular;
  color: $dark_purple_1;
  text-decoration: none;
  border-bottom: 3px solid $light_purple_3;
}

.header-nav-a:active {
  font-family: $century_gothic_bold;
  color: $dark_purple_1;
  text-decoration: none;
  border-bottom: 3px solid $dark_purple_1;
}

.header-nav-a.nav-link-bold:hover {
  font-family: $century_gothic_bold;
  color: $dark_purple_1;
  text-decoration: none;
  border-bottom: none;
}

.cta-a {
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.cta-a:hover {
  color: $dark_purple_1;
  background-color: $white_1;
  border-color: $dark_purple_1;
  text-decoration: none;
}



/****** BACKGROUNDS ******/

.content-background-div {
  width: 100%;
}

#background-ylo {
  background-color: $light_green_1;
  height: 935px;
}

.background-shield-div {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;

  img {
    width: 100%;
    height: 100%;
  }
}

.background-circles-div, 
.circles-light_brown-div, 
.circles-dark_brown-div, 
.circles-purple, 
.circles-large, 
.circles-small {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-circles-div {
  z-index: 3;

  .circles-large div {
    width: 76px;
    height: 76px;
  }

  .circles-small div {
    width: 26px;
    height: 26px;
  }
}

.circles-light_brown-div {
  z-index: 8;

  .circles-dark_brown-large-div {
    z-index: 8;
  }

  .circles-dark_brown-small-div {
    z-index: 9;
  }
}

.circles-purple-div {
  z-index: 6;

  .circles-purple-small-div {
    z-index: 6;
  }
  
  .circles-purple-large-div {
    z-index: 7;
  }
}

.circles-dark_brown-div {
  z-index: 4;

  .circles-dark_brown-large-div {
    z-index: 4;
  }

  .circles-dark_brown-small-div {
    z-index: 5;
  }
}

.circles-light_brown-div div div, 
.circles-purple-div div div, 
.circles-dark_brown-div div div {
  position: relative;
}

#circles-ylo {
  .circles-light_brown-div {
    .circles-large {
      div:nth-child(1) {
        top: 5%;
        left: 8%;
      }
  
      div:nth-child(2) {
        top: 12%;
        left: 55%;
      }
  
      div:nth-child(3) {
        top: 43%;
        left: 73%;
      }
  
      div:nth-child(3) {
        top: 67%;
        left: 73%;
      }
  
      div:nth-child(4) {
        top: 48%;
        left: 85%;
      }  
    }

    .circles-small {
      div:nth-child(1) {
        top: 74%;
        left: 36%;
      }
  
      div:nth-child(2) {
        top: 6%;
        left: 73%;
      }
  
      div:nth-child(3) {
        top: 66%;
        left: 36%;
      }

      div:nth-child(4) {
        top: 14%;
        left: 69%;
      }
  
      div:nth-child(5) {
        top: 13%;
        left: 32%;
      }
  
      div:nth-child(6) {
        top: 8%;
        left: 85%;
      }
    }
  }

  .circles-purple-div {
    .circles-large {
      div:nth-child(1) {
        top: 25%;
        left: 42%;
      }
  
      div:nth-child(2) {
        top: 65%;
        left: 15%;
      }

      div:nth-child(3) {
        top: 0;
        left: 91%;
      }
  
      div:nth-child(4) {
        top: 59%;
        left: 48%;
      }
  
      div:nth-child(5) {
        top: 14%;
        left: 53%;
      }
    }

    .circles-small {
      div:nth-child(1) {
        top: 7%;
        left: 18%;
      }

      div:nth-child(2) {
        top: 48%;
        left: 95%;
      }
  
      div:nth-child(3) {
        top: 7%;
        left: 65%;
      }

      div:nth-child(4) {
        top: 21%;
        left: 8%;
      }
    }
  }

  .circles-dark_brown-div {
    .circles-small {
      div:nth-child(1) {
        top: 38%;
        left: 91%;
      }
  
      div:nth-child(2) {
        top: 70%;
        left: 66%;
      }
  
      div:nth-child(3) {
        top: 47%;
        left: 12%;
      }

      div:nth-child(4) {
        top: 2%;
        left: 52%;
      }
  
      div:nth-child(5) {
        top: 33%;
        left: 94%;
      }
  
      div:nth-child(6) {
        top: 15%;
        left: 4%;
      }
    }

    .circles-large {
      div:nth-child(1) {
        top: 55%;
        left: 31%;
      }
  
      div:nth-child(2) {
        top: 0%;
        left: 38%;
      }

      div:nth-child(3) {
        top: 66%;
        left: 69%;
      }
  
      div:nth-child(4) {
        top: 36%;
        left: 6%;
      }
    }
  }
}



/****** HEADER ******/

#desktop-header-nav {
  position: absolute;
  top: $spacer_med_2;
  right: $spacer_lg_1;
  z-index: 2;

  #header-nav-ul {
    width: 1005px;
    padding: $spacer_sm_2 $spacer_sm_3;
    display: flex;
    float: right;
    list-style-type: none;

    li {
      display: inline-flex;
      flex: auto;
    }

    li:last-of-type {
      width: 51px;
    }
    
    .header-nav-a {
      display: inline-flex;
    }
  }
}



/****** CAROUSEL ******/

.carousel {
  img {
    width: 100%;
    height: auto;
  }
}

.carousel-cta {
  padding: $spacer_sm_3 $spacer_med_1 $spacer_med_1 $spacer_med_1;
  position: absolute;
  left: $spacer_lg_2;
  bottom: $spacer_lg_2;
  z-index: 2;

  h1 {
    margin-bottom: 0;
  }

  p {
    margin: $spacer_sm_2 0 $spacer_sm_3 0;
  }
}

#cta-homepage {
  width: 409px;
}

#cta-logo {
  width: 225px;
  height: auto;
  position: absolute;
  left: $spacer_lg_3;
  bottom: 440px;
}

.cta-a {
  width: 220px;
  padding: $spacer_sm_1 $spacer_sm_2;
  display: block;
}



/****** CONTENT ******/

.container {
  z-index: 7;
}

.homepage-content-section {
  width: 100%;
  height: 935px;
  position: relative;
}

.content-copy-div {
  padding-top: $spacer_lg_2;
  position: absolute;
  z-index: 8;
}

.column-left-div, 
.column-right-div, 
.column-spacer-div {
  display: inline-flex;
  vertical-align: top;
}

.column-left-div {
  padding-left: 0;
  padding-right: $spacer_med_2;
}

.column-right-div {
  padding-left: 0;
  padding-right: 0;
}

#ylo-gallery {
  margin-top: $spacer_sm_2;
  position: relative;

  img {
    width: 100%;
  }
}

#ylo-copy {
  flex-direction: column;
}

.gallery-nav-div {
  display: flex;
  position: absolute;
  opacity: 0.95;

  .gallery-nav-a {
    width: $spacer_med_1;
    height: $spacer_med_1;
    margin-right: $spacer_sm_3;
  }
}

#ylo-gallery-nav {
  bottom: $spacer_med_1;
  left: $spacer_med_1;
}



@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  
  .col-lg-12 {
    padding-left: $spacer_lg_3;
    padding-right: $spacer_lg_1;
  }
}

/****** ELEMENT INDEX ******/

/* 
  ----- HEADER ------ 
    |
    - NAV
      #header-nav-ul 
      - Serves as container and background for the header navigation links
      |
        .header-nav-a
        - Links within the header navigation

        .nav-link-bold
        - Link that matches the current webpage

  ---- CONTENT ----
    |
    - CAROUSEL
      .carousel
        - Contains all content of the hero section.
      |
        .carousel-item.active
        - Contains logo and all CTA-related content
        |
          #cta-logo
          - The image (logo) that appears above the CTA

          .carousel-cta
          - Holds the page header, text, and button for the CTA.
            Also serves as the background for the CTA.
          |
            h1 
            - The page title and main header

            p 
            - The text describing the CTA

            .cta-a
            - The link intended to route the visitor to the Talk to EADC page.

          img 
          - The background photo of the hero section
*/