/* main.scss - Contains all styling for myeadc-stl.com */
/****** COLORS ******/
/****** FONTS ******/
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=081e16cc-76ce-4f91-a436-abc2e1fc02bc");
@font-face {
  font-family: "Century Gothic WGL W01 Regular";
  src: url("/assets/fonts/2cc446f2-1b3b-4f83-b008-97c8c0f04fac.woff2") format("woff2"), url("/assets/fonts/7febee0b-b288-4850-9a55-85fc97528219.woff") format("woff"); }
@font-face {
  font-family: "Century Gothic WGL W01 Bold";
  src: url("/assets/fonts/e41c2a65-7dc0-4c9d-b660-5d156c3ccb50.woff2") format("woff2"), url("/assets/fonts/2662171d-1b47-4c37-8945-37f9ba19d07d.woff") format("woff"); }
/****** SPACERS ******/
/****** TYPOGRAPHY STYLING ******/
.header-nav-a.nav-link-bold,
h1,
.cta-a,
h2,
.copy-first-p::first-line,
h3,
.ytc-dhss-span,
.accordion .btn-link,
.package-dollar_amount_container-div,
h4 {
  font-family: "Century Gothic WGL W01 Bold", sans-serif; }

.header-nav-a,
p,
.ytc-package-per_week-span,
.package-ul li {
  font-family: "Century Gothic WGL W01 Regular", sans-serif; }

.package-ul li {
  font-size: 1rem; }

p,
.cta-a,
.ytc-dhss-span,
.accordion .btn-link,
.ytc-package-per_week-span,
h4 {
  font-size: 1.1rem; }

.header-nav-a {
  font-size: 1.3rem; }

.copy-first-p::first-line {
  font-size: 1.6rem; }

h1,
.package-dollar_amount_container-div {
  font-size: 2.1rem; }

h2 {
  font-size: 3.25rem; }

.carousel-cta p,
.content-copy-div p,
.copy-first-p::first-line,
.ytc-dhss-span,
.ytc-package-per_week-span {
  font-weight: 600; }

h2 {
  letter-spacing: -0.6px; }

h1,
.copy-first-p::first-line {
  letter-spacing: -0.2px; }

.ytc-dhss-span {
  letter-spacing: -0.1px; }

.package-ul li,
.ytc-insurance-h4 {
  letter-spacing: 0.2px; }

.carousel-cta p {
  letter-spacing: 0.3px; }

.cta-a {
  letter-spacing: 0.4px; }

.content-copy-div p {
  letter-spacing: 0.6px; }

.header-nav-a,
.cta-a,
.accordion .btn-link,
.accordion .btn-link:hover {
  text-decoration: none; }

.ytc-package-per_week-span {
  line-height: 1; }

.ytc-insurance-h4 {
  line-height: 1.4; }

.content-copy-div p {
  line-height: 1.6; }

.header-nav-a {
  color: #444ca0; }

h1,
.carousel-cta p,
h2,
.package-ul li {
  color: #4057b3; }

.cta-a {
  color: #ffffff; }

.content-copy-div p,
.ytc-dhss-span,
.accordion button,
.package-dollar_amount_container-div,
h4 {
  color: #020000; }

/****** COLOR STYLING ******/
#header-nav-ul {
  background-color: #fffffb; }

.carousel-cta {
  background-color: #dfd2f2; }

.cta-a {
  background-color: #4057b3; }

.gallery-nav-a {
  background-color: #444ca0; }

.gallery-nav-a.gallery-a-visible {
  background-color: #dfd2f2; }

.accordion > .card > .card-header {
  background-color: #f5ffe1; }

.package-dollar_amount_container-div {
  background: radial-gradient(circle, #ffebff 0%, #ffebff 50%, #dfd2f2 100%); }

.card-body {
  background-color: #f7f7f2; }

/****** BORDERS ******/
.header-nav-a {
  border-bottom: none; }

.gallery-nav-a {
  border-radius: 8px 8px 0 8px; }

.cta-a {
  border-radius: 10px 10px 0 10px; }

#header-nav-ul {
  border-radius: 10px; }

.carousel-cta,
#ylo-gallery img,
.accordion {
  border-radius: 14px 14px 0 14px; }

.accordion > .card:first-of-type {
  border-radius: 14px 14px 0 0; }

.accordion > .card:last-of-type {
  border-radius: 0 0 0 14px; }

.circles-large div,
.circles-small div,
#circles-ytc div,
.ytc-testimonial .ytc-testimonial-img,
.accordion-dot-div,
.package-dollar_amount_container-div {
  border-radius: 100%; }

.card-body {
  border-top: 1px solid; }

.card {
  border: 1px solid; }

.circles-large div,
.circles-small div,
.package-dollar_amount_container-div,
.cta-a,
.gallery-nav-a,
#ylo-gallery img,
.accordion-dot-div {
  border: 3px solid; }

#circles-ytc div {
  border: 61px solid; }

.cta-a,
.gallery-nav-a {
  border-color: #ffffff; }

#ylo-gallery img {
  border-color: #a8bbe4; }

.circles-light_brown-div div div {
  border-color: #dae5c7; }

.circles-dark_brown-div div div {
  border-color: #c2c08f; }

.accordion-dot-div {
  border-color: #899878; }

.card,
.card-body {
  border-color: rgba(194, 214, 189, 0.6); }

.circles-purple-div div div,
.package-dollar_amount_container-div {
  border-color: #9fa1d9; }

.gallery-nav-a.gallery-a-visible {
  border-color: #444ca0; }

.circle-light_green-1 {
  border-color: #c0d8ba !important; }

.circle-dark_brown-1 {
  border-color: #c2c08f !important; }

/****** SHADOWS ******/
#header-nav-ul,
.carousel-cta,
.cta-a,
.gallery-nav-a {
  box-shadow: 0 0 6px #4057b3; }

.ytc-testimonial .ytc-testimonial-img,
#ytc-accordion-div {
  box-shadow: 0 0 6px #899878; }

/******* COMMON ELEMENTS ****** */
:root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  z-index: 0; }

h2 {
  margin-bottom: 47px;
  padding-left: 0 !important; }

h3 {
  margin-bottom: 16px; }

#content-container-ylo h2 {
  margin-bottom: 37px; }

/****** LINK/BUTTON BEHAVIOR ******/
.header-nav-a {
  height: 32px;
  transition-property: border-bottom, font-family, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out; }

.header-nav-a:hover {
  font-family: "Century Gothic WGL W01 Regular", sans-serif;
  color: #444ca0;
  text-decoration: none;
  border-bottom: 3px solid #9fa1d9; }

.header-nav-a:active {
  font-family: "Century Gothic WGL W01 Bold", sans-serif;
  color: #444ca0;
  text-decoration: none;
  border-bottom: 3px solid #444ca0; }

.header-nav-a.nav-link-bold:hover {
  font-family: "Century Gothic WGL W01 Bold", sans-serif;
  color: #444ca0;
  text-decoration: none;
  border-bottom: none; }

.cta-a {
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }

.cta-a:hover {
  color: #444ca0;
  background-color: #ffffff;
  border-color: #444ca0;
  text-decoration: none; }

/****** BACKGROUNDS ******/
.content-background-div {
  width: 100%; }

#background-ylo {
  background-color: #eaffff;
  height: 935px; }

#background-ytc {
  background-color: #dae5c7;
  height: 935px; }

.background-shield-div {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10; }
  .background-shield-div img {
    width: 100%;
    height: 100%; }

.background-circles-div,
.circles-light_brown-div,
.circles-dark_brown-div,
.circles-purple,
.circles-large,
.circles-small,
#circles-ytc {
  width: 100%;
  height: 100%;
  position: absolute; }

.background-circles-div {
  z-index: 3; }
  .background-circles-div .circles-large div {
    width: 76px;
    height: 76px; }
  .background-circles-div .circles-small div {
    width: 26px;
    height: 26px; }

.circles-light_brown-div {
  z-index: 8; }
  .circles-light_brown-div .circles-dark_brown-large-div {
    z-index: 8; }
  .circles-light_brown-div .circles-dark_brown-small-div {
    z-index: 9; }

.circles-purple-div {
  z-index: 6; }
  .circles-purple-div .circles-purple-small-div {
    z-index: 6; }
  .circles-purple-div .circles-purple-large-div {
    z-index: 7; }

.circles-dark_brown-div {
  z-index: 4; }
  .circles-dark_brown-div .circles-dark_brown-large-div {
    z-index: 4; }
  .circles-dark_brown-div .circles-dark_brown-small-div {
    z-index: 5; }

.circles-light_brown-div div div,
.circles-purple-div div div,
.circles-dark_brown-div div div {
  position: relative; }

#circles-ylo .circles-light_brown-div .circles-large div:nth-child(1) {
  top: 5%;
  left: 8%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(2) {
  top: 12%;
  left: 55%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(3) {
  top: 43%;
  left: 73%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(3) {
  top: 67%;
  left: 73%; }
#circles-ylo .circles-light_brown-div .circles-large div:nth-child(4) {
  top: 48%;
  left: 85%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(1) {
  top: 74%;
  left: 36%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(2) {
  top: 6%;
  left: 73%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(3) {
  top: 66%;
  left: 36%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(4) {
  top: 14%;
  left: 69%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(5) {
  top: 13%;
  left: 32%; }
#circles-ylo .circles-light_brown-div .circles-small div:nth-child(6) {
  top: 8%;
  left: 85%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(1) {
  top: 25%;
  left: 42%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(2) {
  top: 65%;
  left: 15%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(3) {
  top: 0;
  left: 91%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(4) {
  top: 59%;
  left: 48%; }
#circles-ylo .circles-purple-div .circles-large div:nth-child(5) {
  top: 14%;
  left: 53%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(1) {
  top: 7%;
  left: 18%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(2) {
  top: 48%;
  left: 95%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(3) {
  top: 7%;
  left: 65%; }
#circles-ylo .circles-purple-div .circles-small div:nth-child(4) {
  top: 21%;
  left: 8%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(1) {
  top: 38%;
  left: 91%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(2) {
  top: 70%;
  left: 66%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(3) {
  top: 47%;
  left: 12%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(4) {
  top: 2%;
  left: 52%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(5) {
  top: 33%;
  left: 94%; }
#circles-ylo .circles-dark_brown-div .circles-small div:nth-child(6) {
  top: 15%;
  left: 4%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(1) {
  top: 55%;
  left: 31%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(2) {
  top: 0%;
  left: 38%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(3) {
  top: 66%;
  left: 69%; }
#circles-ylo .circles-dark_brown-div .circles-large div:nth-child(4) {
  top: 36%;
  left: 6%; }

#circles-ytc div {
  position: absolute; }
#circles-ytc .circle-xl {
  width: 472px;
  height: 472px; }
#circles-ytc .circle-xxl {
  width: 800px;
  height: 800px; }
#circles-ytc .upper-left {
  top: -8%;
  left: 8%; }
#circles-ytc .lower-left {
  top: 22%;
  left: -2%; }
#circles-ytc .upper-right {
  top: -24%;
  right: -12%; }

/****** HEADER ******/
#desktop-header-nav {
  position: absolute;
  top: 47px;
  right: 76px;
  z-index: 2; }
  #desktop-header-nav #header-nav-ul {
    width: 1005px;
    padding: 9px 16px;
    display: flex;
    float: right;
    list-style-type: none; }
    #desktop-header-nav #header-nav-ul li {
      display: inline-flex;
      flex: auto; }
    #desktop-header-nav #header-nav-ul li:last-of-type {
      width: 51px; }
    #desktop-header-nav #header-nav-ul .header-nav-a {
      display: inline-flex; }

/****** CAROUSEL ******/
.carousel img {
  width: 100%;
  height: auto; }

.carousel-cta {
  padding: 16px 26px 26px 26px;
  position: absolute;
  left: 139px;
  bottom: 139px;
  z-index: 2; }
  .carousel-cta h1 {
    margin-bottom: 0; }
  .carousel-cta p {
    margin: 9px 0 16px 0; }

#cta-homepage {
  width: 409px; }

#cta-logo {
  width: 225px;
  height: auto;
  position: absolute;
  left: 165px;
  bottom: 440px; }

.cta-a {
  width: 220px;
  padding: 7px 9px;
  display: block; }

/****** CONTENT ******/
.container {
  z-index: 7; }

.homepage-content-section {
  width: 100%;
  height: 935px;
  position: relative; }

#content-ylo {
  z-index: 2; }

#content-ytc {
  z-index: 1; }

.content-copy-div {
  padding-top: 139px;
  position: absolute;
  z-index: 8; }

.column-left-div,
.column-middle-div,
.column-right-div,
.column-spacer-div {
  display: inline-flex;
  vertical-align: top; }

#content-container-ylo .column-left-div {
  padding-left: 0;
  padding-right: 47px; }
#content-container-ylo .column-right-div {
  padding-left: 0;
  padding-right: 0; }

#content-container-ytc .column-left-div,
#content-container-ytc .column-middle-div,
#content-container-ytc .column-right-div {
  flex-direction: column; }
#content-container-ytc .column-left-div {
  padding-left: 0;
  padding-right: 9px; }
#content-container-ytc .column-middle-div {
  padding-left: 16px;
  padding-right: 16px; }
#content-container-ytc .column-right-div {
  padding-left: 9px;
  padding-right: 0; }

/* ------ YOUR LOVED ONE ------ */
#ylo-gallery {
  margin-top: 9px;
  position: relative; }
  #ylo-gallery img {
    width: 100%; }

#ylo-copy {
  flex-direction: column; }

.gallery-nav-div {
  display: flex;
  position: absolute;
  opacity: 0.95; }
  .gallery-nav-div .gallery-nav-a {
    width: 26px;
    height: 26px;
    margin-right: 16px; }

#ylo-gallery-nav {
  bottom: 26px;
  left: 26px; }

/* ------ YOU - THE CARETAKER ------ */
.ytc-testimonial {
  margin-bottom: 26px;
  display: flex; }
  .ytc-testimonial .ytc-testimonial-img {
    width: 181px;
    height: 181px; }
  .ytc-testimonial .ytc-testimonial-p {
    margin: 19px 0 0 16px; }

.ytc-testimonial:last-of-type {
  margin-bottom: 0; }

.ytc-dhss-span {
  display: block;
  margin-bottom: 16px; }

.ytc-dhss-img {
  width: 190px;
  height: auto; }

.accordion button {
  padding: 7px 0 5px 0;
  display: flex; }

.accordion-dot-div {
  width: 10px;
  height: 10px;
  margin: 9px 9px 0 0; }

.card-body {
  display: flex; }

.ytc-package-per_week-span {
  display: block; }

.package-dollar_amount_container-div {
  width: 148px;
  height: 136px;
  padding: 26px; }

.package-ul li {
  list-style-image: url("/assets/img/common/icons/ytc-dot.png"); }

.ytc-insurance-h4,
.ytc-insurance-div {
  display: inline-flex; }

.ytc-insurance-h4 {
  margin-top: 54px;
  padding-left: 0;
  padding-right: 0;
  vertical-align: top; }

.ytc-insurance-div {
  margin-top: 36px;
  padding-left: 16px;
  padding-right: 0; }

#ytc-insurance-mohealthnet {
  margin-right: 36px; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }

  .col-lg-12 {
    padding-left: 165px;
    padding-right: 76px; } }
/****** ELEMENT INDEX ******/
/* 
  ----- HEADER ------ 
    |
    - NAV
      #header-nav-ul 
      - Serves as container and background for the header navigation links
      |
        .header-nav-a
        - Links within the header navigation

        .nav-link-bold
        - Link that matches the current webpage

  ---- CONTENT ----
    |
    - CAROUSEL
      .carousel
        - Contains all content of the hero section.
      |
        .carousel-item.active
        - Contains logo and all CTA-related content
        |
          #cta-logo
          - The image (logo) that appears above the CTA

          .carousel-cta
          - Holds the page header, text, and button for the CTA.
            Also serves as the background for the CTA.
          |
            h1 
            - The page title and main header

            p 
            - The text describing the CTA

            .cta-a
            - The link intended to route the visitor to the Talk to EADC page.

          img 
          - The background photo of the hero section
*/

/*# sourceMappingURL=main.css.map */
