/* main.scss - Contains all styling for myeadc-stl.com */



/****** COLORS ******/

$white_1: #ffffff;
$white_2: #fffffb;

$light_gray_1: #d8d8d4;
            
$light_blue_1: #bedce8;
$light_blue_2: #e3ffff;

$dark_blue_1: #a5c4d8;
$dark_blue_2: #80a1c1;
$dark_blue_3: #8cadc9;
$dark_blue_4: #405371;

$light_brown_1: #ffffe6;
$light_brown_2: #ffffb0;
$light_brown_3: #fff7cd;
$light_brown_4: #e9d9b0;
$light_brown_5: #cdd8ba;

$dark_brown_1: #ccc073;
$dark_brown_2: #c3bb93;
$dark_brown_4: #b6a865;
$dark_brown_3: #c2c08f;

$light_green_1: #eaffff;

$dark_green_1: #dae5c7;
$dark_green_2: #c0d8ba;

$light_purple_1: #ffebff;
$light_purple_2: #dfd2f2;
$light_purple_3: #9fa1d9;

$dark_purple_1: #444ca0;
$dark_purple_2: #4057b3;

$black_1: #180100;
$black_2: #020000;


/****** FONTS ******/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=081e16cc-76ce-4f91-a436-abc2e1fc02bc");

@font-face{
  font-family: "Century Gothic WGL W01 Regular";
  src: url("/assets/fonts/2cc446f2-1b3b-4f83-b008-97c8c0f04fac.woff2") format("woff2"),url("/assets/fonts/7febee0b-b288-4850-9a55-85fc97528219.woff") format("woff");
}

@font-face{
  font-family: "Century Gothic WGL W01 Bold";
  src: url("/assets/fonts/e41c2a65-7dc0-4c9d-b660-5d156c3ccb50.woff2") format("woff2"),url("/assets/fonts/2662171d-1b47-4c37-8945-37f9ba19d07d.woff") format("woff");
}

$century_gothic_regular: "Century Gothic WGL W01 Regular", sans-serif;
$century_gothic_bold: "Century Gothic WGL W01 Bold", sans-serif;



/****** SPACERS ******/

$spacer_sm_1: 7px;
$spacer_sm_2: 10px;
$spacer_sm_3: 16px;

$spacer_med_1: 26px;
$spacer_med_2: 47px;

$spacer_lg_1: 76px;
$spacer_lg_2: 139px;
$spacer_lg_3: 165px;



/****** TYPOGRAPHY STYLING ******/  

$font_sm_size_1: 1.1rem; // 13pt

$font_med_size_1: 1.3rem; // 16pt
$font_med_size_2: 1.6rem; // 20pt

$font_lg_size_1: 2.1rem; // 26pt
$font_lg_size_2: 3.25rem; // 39pt


.header-nav-a.nav-link-bold, 
h1, 
.cta-a {
  font-family: $century_gothic_bold;
}

.header-nav-a, 
p {
  font-family: $century_gothic_regular;
}

.carousel-cta p {
  font-weight: 600;
}

h1 {
  letter-spacing: -0.4px;
}

.carousel-cta p {
  letter-spacing: 0.3px;
}

.cta-a {
  letter-spacing: 0.4px;
}

p, 
.cta-a {
  font-size: $font_sm_size_1;
}

.header-nav-a {
  font-size: $font_med_size_1;
}

h1 {
  font-size: $font_lg_size_1;
}

.header-nav-a, 
.cta-a {
  text-decoration: none;
}

.header-nav-a {
  color: $dark_purple_1;
}

h1, 
.carousel-cta p {
  color: $dark_purple_2;
}

.cta-a {
  color: $white_1;
}


/****** COLOR STYLING ******/

#header-nav-ul {
  background-color: $white_2;
}

.carousel-cta {
  background-color: $light_purple_2;
}

.cta-a {
  background-color: $dark_purple_2;
}



/****** BORDERS ******/

$border_radius_sm_1: 10px;
$border_radius_med_1: 14px;

.header-nav-a {
  border-bottom: none;
}

.cta-a {
  border: 3px solid $white_1;
}

.cta-a {
  border-radius: $border_radius_sm_1 $border_radius_sm_1 0 $border_radius_sm_1;
}

#header-nav-ul {
  border-radius: $border_radius_sm_1;
}

.carousel-cta {
  border-radius: $border_radius_med_1 $border_radius_med_1 0 $border_radius_med_1;
}



/****** SHADOWS ******/

#header-nav-ul, 
.carousel-cta, 
.cta-a {
  box-shadow: 0 0 6px $dark_purple_2;
}



/******* COMMON ELEMENTS ****** */

:root {
  margin: 0;
  padding: 0;
  z-index: 0;
}



/****** LINK/BUTTON BEHAVIOR ******/

.header-nav-a {
  height: 32px;
  transition-property: border-bottom, font-family, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.header-nav-a:hover {
  font-family: $century_gothic_regular;
  color: $dark_purple_1;
  text-decoration: none;
  border-bottom: 3px solid $light_purple_3;
}

.header-nav-a:active {
  font-family: $century_gothic_bold;
  color: $dark_purple_1;
  text-decoration: none;
  border-bottom: 3px solid $dark_purple_1;
}

.header-nav-a.nav-link-bold:hover {
  font-family: $century_gothic_bold;
  color: $dark_purple_1;
  text-decoration: none;
  border-bottom: none;
}

.cta-a {
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.cta-a:hover {
  color: $dark_purple_1;
  background-color: $white_1;
  border-color: $dark_purple_1;
  text-decoration: none;
}



/****** HEADER ******/

#desktop-header-nav {
  position: absolute;
  top: $spacer_med_2;
  right: $spacer_lg_1;
  z-index: 2;

  #header-nav-ul {
    width: 1005px;
    padding: $spacer_sm_2 $spacer_sm_3;
    display: flex;
    float: right;
    list-style-type: none;

    li {
      display: inline-flex;
      flex: auto;
    }

    li:last-of-type {
      width: 51px;
    }
    
    .header-nav-a {
      display: inline-flex;
    }
  }
}



/****** CAROUSEL ******/

.carousel {
  img {
    width: 100%;
    height: auto;
  }
}

.carousel-cta {
  padding: $spacer_sm_3 $spacer_med_1 $spacer_med_1 $spacer_med_1;
  position: absolute;
  left: $spacer_lg_2;
  bottom: $spacer_lg_2;
  z-index: 2;

  h1 {
    margin-bottom: 0;
  }

  p {
    margin: $spacer_sm_2 0 $spacer_sm_3 0;
  }
}

#cta-homepage {
  width: 409px;
}

#cta-logo {
  width: 225px;
  height: auto;
  position: absolute;
  left: $spacer_lg_3;
  bottom: 440px;
}

.cta-a {
  width: 220px;
  padding: $spacer_sm_1 $spacer_sm_2;
  display: block;
}



/****** ELEMENT INDEX ******/

/* 
  ----- HEADER ------ 
    |
    - NAV
      #header-nav-ul 
      - Serves as container and background for the header navigation links

      .header-nav-a
      - Links within the header navigation

*/